img{
    width: 175px;
    height: 250px;
}
strong{
    font-size:smaller
}
.poster{

    width: 1128px;
    height: 480px
}
h1{
    font-size: xx-large;
}
.summary{
    width:95%
}
.overlay:hover {
    opacity: 1;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
.hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
  }
.hover i {
    margin-right: 5px;
  }
  .listing-item-style {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 300px;
    border: 1px solid #ccc; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 16px; 
    text-align: center; 
    display: flex;
    width: 100%;
    flex-direction: column;
    cursor: pointer;
  }
  .image{
    width:200px  
  }