.listing-item-style {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 450px;
    border: 1px solid #ccc; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 16px; 
    text-align: center; 
    display: flex;
    width: 100%;
    flex-direction: column;
    cursor: pointer;
  }
  img {
    width: 100%;
    height: 70%;
    border-bottom: 1px solid #ccc; 
  }
  .year {
    position: absolute; /* Position absolute for overlaying on the image */
    bottom: 0; /* Align to the bottom */
    left: 0; /* Align to the left */
    padding: 16px;
    text-align: left;
    width: 100%; /* Take full width of the container */
    opacity: 1;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .material-icons{

        transform: scale(0.5);

  }
  
  .overlay:hover {
    opacity: 1;
  }
  
  .hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
  }
  
  .hover i {
    margin-right: 5px;
  }

  .rate {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
  }
  p-carousel {
    overflow: hidden;
    white-space: nowrap;
  }

  h3{
    cursor: pointer;
    text-decoration: underline;
  }